include head

block content
	body
		div(style="width:600px;margin:20px auto;")
			p(style="color:white;text-align:center;")=error
		div(style="text-align:center;")
			img(src="http://media.giphy.com/media/7YhYipZN5E0q4/giphy.gif")