.row
  .col-md-12
    // BEGIN PAGE TITLE & BREADCRUMB
    h3.page-title
      | Dashboard
      small &nbsp;Statistics and more
    ul.page-breadcrumb.breadcrumb
      li
        i.fa.fa-home
        a(style="color:grey;text-decoration:none;cursor:default") Home
        i.fa.fa-angle-right
      li
        a(style="color:grey;text-decoration:none;cursor:default") Dashboard
      li.pull-right
        #dashboard-report-range.dashboard-date-range.tooltips(data-placement="top", data-original-title="Change dashboard date range")
          i.fa.fa-calendar
          span
          i.fa.fa-angle-down
